<% @posts.each do |post| %>
<section class="post post-<%= post.id%>">
<div class="row">
    <div class="span1 voteColumn">
        <%= link_to raw("&#9650;"), post_vote_path(post.id.to_s(36), :up), remote: true, :class => "voteLinkUp " + ( (current_user && post.vote == 1) ? "voted":"") %>
        <div class="postVotes"><%= post.votes %></div>
        <%= link_to raw("&#9660;"), post_vote_path(post.id.to_s(36), :down), remote: true, :class => "voteLinkDown " + ( (current_user && post.vote == 0) ? "voted":"") %>
    </div>
    <div class="span8">
        <div class="row">
            <div class="span8">
                <div class="postTitle">
                    <% if post.url.blank? %>
                        <%= link_to post.title, short_post_link_path(post.id.to_s(36)) %>
                    <% else %>
                        <%= link_to post.title, post.url %><span class="url"><%= URI.parse(post.url).host %></span>
                        <div class="urlContent">
                            <%= post.content[0,250] %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row metainfo">
            <div class="span8">
                <div><%= post.major_tag.name %> |&nbsp;</div>
                <div><%= post.user.username %> |&nbsp;</div>
                <div><%= link_to (t :comments) + ": " + post.comments.count.to_s, short_post_link_path(post.id.to_s(36)) %>&nbsp;</div>
            </div>
        </div>
    </div>
</div>
</section>
<% end %>
<script>
<% if not current_user %>
$(".voteLinkUp, .voteLinkDown").click(function(e){
   alert("<%= t :pleaseLoginToVote %>");
});
<% end %>
</script>