<div class="row-fluid">
    <div class="span12 indexActions">
        <%= t :sortBy %>:
        <% if params[:order] && params[:order] == "votes" %>
            <%= link_to (t :sortByDate), posts_path() %> | <%= (t :sortByVotes) %>
        <% else %>
            <%= (t :sortByDate) %> | <%= link_to (t :sortByVotes), posts_path(:order => "votes") %>
        <% end %>
    </div>
</div>
<% @posts.each do |post| %>
<section class="post post-<%= post.id%> <%= cycle("postEvenRow", "postOddRow") %>">
<div class="row-fluid">
    <div class="span1 voteColumn">
        <%= link_to raw("&#9650;"), post_vote_path(post.id.to_s(36), :up), remote: true, :class => "voteLinkUp " + ( (current_user && post.vote == 1) ? "voted":"") %>
        <div class="postVotes"><%= post.votes %></div>
        <%= link_to raw("&#9660;"), post_vote_path(post.id.to_s(36), :down), remote: true, :class => "voteLinkDown " + ( (current_user && post.vote == 0) ? "voted":"") %>
    </div>
    <div class="span11">
        <div class="row-fluid">
            <div class="span12">
                <div class="postTitle">
                    <% if post.url.blank? %>
                        <%= link_to post.title, short_post_link_path(post.id.to_s(36)) %>
                    <% else %>
                        <%= link_to post.title, post.url %><span class="url"><%= URI.parse(post.url).host %></span>
                        <div class="urlContent">
                            <%= post.content[0,250] %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row-fluid metainfo">
            <div class="span12">
                <div><%= post.major_tag.name %> |&nbsp;</div>
                <div><%= (t :before) + " " + time_ago_in_words(post.created_at) %> |&nbsp;</div>
                <div><%= post.user.username %>&nbsp;</div>
                <div>(<%= post.user.comments_karma + post.user.posts_karma %>) |&nbsp;</div>
                <div><%= link_to (t :comments) + ": " + post.comments.count.to_s, short_post_link_path(post.id.to_s(36)) %>&nbsp;</div>
            </div>
        </div>
    </div>
</div>
</section>
<% end %>
<div class="row-fluid">
    <div class="span12 paginationContainer">
        <%= will_paginate @posts, :class => "pagination", :previous_label => (t :postsNextPage), :next_label => (t :postsPreviousPage) %>
    </div>
</div>
<script>
<% if not current_user %>
$(".voteLinkUp, .voteLinkDown").click(function(e){
   alert("<%= t :pleaseLoginToVote %>");
});
<% end %>
</script>
