<div class="post post-<%= @post.id%>">
<div class="row">
    <div class="span1 voteColumn">
        <%= link_to raw("&#9650;"), post_vote_path(@post.id.to_s(36), :up), remote: true, :class => "voteLinkUp " + ( (current_user && @postvote == true) ? "voted":"") %>
        <div class="postVotes"><%= @post.votes %></div>
        <%= link_to raw("&#9660;"), post_vote_path(@post.id.to_s(36), :down), remote: true, :class => "voteLinkDown " + ( (current_user && @postvote == false) ? "voted":"") %>
    </div>
    <div class="span8">
        <div class="row">
            <div class="span8">
                <div class="postTitle">
                    <% if @post.url.blank? %>
                        <%= @post.title %>
                    <% else %>
                        <%= link_to @post.title, @post.url %><span class="url"><%= URI.parse(@post.url).host %></span>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row metainfo">
        <div class="span8">
            <%= @post.user.username %> |
            <%= t :comments %>:<%= @post.comments.count %>
            <% if current_user && @post.user_id == current_user.id %>
                | <%=  link_to (t :edit), edit_post_path(@post) %>
            <% end %>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span9 postContent">
        <%= markdown(@post.content) %>
    </div>
</div>

<section class="commentsSection">

<div class="row">
    <div class="span9">
        <h2><%= t :comments %></h2>
    </div>
</div>

<% if current_user %>
<section class="commentForm">
<%= render "comments/form" %>
</section>
<% end %>

<section class="comments">
<%= nested_comments @post.comments.arrange(:order => :created_at) %>
</section>

</section>
</div>