<!DOCTYPE html>
<html>
<head>
    <title>Progmr</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://fast.fonts.com/jsapi/14ad7663-f050-4800-a989-2e51a08b9fa5.js?2"></script>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="span12">
        <div class="topBar">
            &nbsp;
        </div>
        </div>
    </div>

    <div class="row header">
        <div class="span3">
            <h1>{ <%= t :siteName %> }</h1>
        </div>
        <div class="span9 actions">
            <a href="#"><%= link_to (t :signup), signup_path %></a> |
            <a href="#"><%= link_to (t :login), login_path %></a>
        </div>
    </div>

    <% if flash[:notice] %>
    <div class="row notice">
        <div class="span12">
            <div><h3><%= flash[:notice] %></h3></div>
        </div>
    </div>
    <% end %>

    <div class="row">
        <div class="span10">
        <div class="content">
            <%= yield %>
        </div>
        </div>
        <div class="span2">
        <div class="side">
            Right Side
        </div>
        </div>
    </div>
</div>
</body>
</html>
